.EnglishAlphabetWithPositions {
    height: 100%;
    width: 100%;
}

.EnglishAlphabetWithPositions__Table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.EnglishAlphabetWithPositions__Table tr {
    border: 1px solid black;

    display: grid;
    grid-template-columns: 20% 20%;
}

.EnglishAlphabetWithPositions__Table tr td {
    padding-left: 10%;
}