.MorseCodeTranslation {
    height: 100%;
    width: 100%;
}

.MorseCodeTranslation__Table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.MorseCodeTranslation__Table tr {
    border: 1px solid black;

    display: grid;
    grid-template-columns: 20% 80%;
}

.MorseCodeTranslation__Table tr td:first-child {
    padding-left: 15%;
}