.Settings {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.Settings__Button {
    background-color: #131313;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: 150%;
    border: 2px solid #101010;
}
